@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  html {
    scroll-behavior: smooth;
  }

  