.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-top: 100px;
  background: url('../public/images/background-desk-companies.png') no-repeat center;
}

.datePicker {
  width: 84%; /* Adjust width as needed */
  padding: 10px; /* Add padding */
  border: 1px solid #ccc; /* Add border */
  border-radius: 4px; /* Rounded corners */
  font-size: 16px; /* Adjust font size */
  margin-bottom: 20px; /* Spacing below the date picker */
}

/* Styles for the selected date */
.react-datepicker__day--selected {
  background-color: #F9183D !important; /* Use !important to override other styles */
  color: white !important; /* Text color for better contrast */
}

/* Optional: Styles for hover on selected date */
.react-datepicker__day--selected:hover {
  background-color: #C71230 !important; /* Darker shade for hover effect */
}

.email {
  width: 84%;
  padding: 10px; /* Add padding */
  border: 1px solid #ccc; /* Add border */
  border-radius: 4px; /* Rounded corners */
  font-size: 16px; /* Adjust font size */
  margin-bottom: 20px; /* Spacing below the date picker */

}

.Contact {
  padding: 2rem;
  width: 10%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  overflow: hidden; /* Hide overflow during animations */
  height: 30vh; /* Full viewport height */
  margin: 0 auto; /* Center horizontally */
}


.button{
  text-align: center;
  height: 2rem;
  width: 80%;
  color: #fff;
  border: 1px solid #ccc; /* Add border */
  border-radius: 8px; /* Rounded corners */
  font-size: 16px; /* Adjust font size */
  margin-left: 15px; /* Spacing below the date picker */
  background-color: #F9183D;
}

.introduction {
  text-align: center;
  margin-bottom: 2rem;
}

.introduction h1,
.introduction h2,
.introduction p {
  margin: 0;
  font-family: 'Arial', sans-serif;

}
.heroSection .heroText h1{
  color: #fff;
}

.heroSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

}

.heroText {
  flex: 1;
  text-align: left;
}
.introduction span{
 
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to left,  white 50%, #F9183D 50%);
  background-size: 200% 100%;
  background-position: right top;
  margin-left:10px;
  transition:all 1s ease;
}

.introduction span:hover{
  background-position:left top;
}
.heroText h1 {
  font-size: 2.5rem;
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.heroImage {
  flex: 1;

}

.heroImage img {
  width: 100%;
  height: auto;
  border-radius: 512px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

